{% extends 'layouts/insta-app.twig' %}

{% block title %}
Home
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
  {% include "templates/post.twig" %}
  <div class="container posts-container"></div>
{% endblock %}


{% block scripts %}

	<script src="{{ base_url ('/js/modules/home/home.js')}}"></script>
{% endblock %}
