<html lang="en">
	<head>
		<meta charset="utf-8"/>

		<title>
			{% block title %}{% endblock %}
		</title>

		<link href="{{ base_url }}/css/bootstrap.css" rel="stylesheet" />
		<link href="{{ base_url }}/css/custom.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>

	<body class="border-top-wide border-primary d-flex flex-column theme-light">
		<div class="page page-center">
			<div class="container-tight py-4">
				<div class="text-center mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
					<h3>InstaApp</h3>
				</div>
				{{ block("body") }}
			</div>
		</div>

		<script src="{{ base_url }}/js/bootstrap.js"></script>
	</body>
</html>
